label {
	display: block;
	color: #999999;
	margin: 10px 0 0;
}
form {
	width: 75%;
	font-size: 20px;
	margin: 50px auto;
	padding: 25px;
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.signupForm {
	height: 240px;
}
.loginForm {
	height: 175px;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	display: inline;
}
input:not([type=submit]) {
	padding: 5px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}
input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef;
	background: -webkit-gradient(linear, left top, left bottom, from(#b0c0ff), to(#6A7BBD));
	color: #fff;
	display: block;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 20px;
	font-size: 18px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.loginCol {
	width: 40%;
	display: block;
	margin: 55px auto 0;
}
.returnCol {
	height: 476px;
	border: 1px black solid;
	background: #F8F8FF;
}
.newCol {
	height: 540px;
	border: 1px black solid;
	background: #F8F8FF;
}
/***** BUTTON *****/

.buttonDiv {
	text-align: center;
	margin: 20px;
}
.button {
	padding: 4px 40px;
	font-size: 27px;
	margin: 10px auto;
	outline: none;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border-radius: 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	color: #FFF;
	border: solid 1px #092849;
	background: #b0c0ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#b0c0ff), to(#6A7BBD));
	background: -moz-linear-gradient(top, #b0c0ff, #6A7BBD);
}
.button:hover {
	text-decoration: none;
	background: #94A3DF;
	background: -webkit-gradient(linear, left top, left bottom, from(#94A3DF), to(#52619C));
	background: -moz-linear-gradient(top, #94A3DF, #52619C);
}
.button:active {
	position: relative;
	top: 1px;
	color: #E3E3E3;
	background: -webkit-gradient(linear, left top, left bottom, from(#415296), to(#212A4E));
	background: -moz-linear-gradient(top, #415296, #212A4E);
}
